// Variables
$Primary-color:  #22313F;

// General
html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display:flex; 
    flex-direction:column;
    justify-content: space-between;
}

// Scroll
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background:#f1f1f1;
    border-radius:25px;
}

::-webkit-scrollbar-thumb{
    background:#888;
    border-radius: 25px
}

::-webkit-scrollbar-thumb:hover{
    background:#555
}

// Header
header {
    width: 100%;
    height: 75px;
    background: $Primary-color;
    color: #FFF;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Loader
.loader {
    font-size: 26px;
    margin: auto;
    width: 2em;
    height: 2em;
    border: 5px solid #f3f3f3;
    border-top: 6px solid $Primary-color;
    border-radius: 100%;
    animation: spin 1s infinite linear;
}

.hide {
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// Main
main {
    width: 70%;
    margin: 0 auto;

    article {
        display: flex;
        margin: 50px auto 50px;
    }

    h4 {
        margin-top: 0
    }

    .story-image {
        width: 30%;

        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        width: 60%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #333;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
        }

        span {
            color: rgba(117, 117, 117, 1);
        }
    }

}

// Footer
footer {
    text-align: center;
    padding: 20px;
    background: $Primary-color;
    color: white;
    line-height: 25px;

    a {
        text-decoration: none;
        opacity: 0.75;
        color:#06f8d7;
    }
    
    a:hover {
        opacity: 1;
    }
}

// Responsive
@media only screen and (max-width: 600px) {
    main {
        width: 85%;

        article {
            flex-direction: column;
        }

        .story-image {
            width: 100%;
        }

        .content {
            display: block;
            width: 100%;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    main {
        width: 90%;
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 992px) {
    main {
        width: 95%;

        .content {
            padding-left: 25px;
        }
    }
} 
  
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    main {
        width: 85%;
    }
} 
  

@media only screen and (min-width: 1366px) {
    main {
        width: 60%;
    }
}